body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000;
  background-color: #fff;
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.button {
  display: block;
    width: 240px;
    padding: 16px 0;
    font: inherit;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
    line-height: 18px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  margin-bottom: 59px;
  background-color: #f3f7f8;
}

.inner-page .main-header {
  margin-bottom: 18px;
}

.header-up {
  width: 100%;
  min-height: 42px;
  margin-bottom: 25px;
  font-size: 0;
  background-color: #293449;
}

.header-up a {
  color: #fff;
}

.header-up a,
.header-search label,
.header-up,
.header-search,
.header-up form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.inner-page .header-basket {
  background-color: #ee3643;
}

.inner-page .header-basket:hover {
  background-color: #ca2c37;
}

.inner-page .header-basket:active {
  background-color: #ba2732;
}

.logo {
  width: 220px;
  margin-left: 111px;
  padding: 10px 50px 8px 52px;
  background-color: #ee3643;
  -webkit-box-shadow: #ca2c37 0 5px 0 0;
          box-shadow: #ca2c37 0 5px 0 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:focus,
.logo:active {
  background-color: #ba2732;
}

.header-search input {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  background-color: #293449;
  outline: none;
  border: none;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.header-search input:focus,
.header-search input:active {
  background-color: #fff;
  border: none;
}

.header-search label {
  position: relative;
}

.header-search label::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 232px;
  width: 17px;
  height: 17px;
  color: #fff;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.3;
}

input[type="text"]:hover ~ label::before {
  opacity: 1
}

input[type="text"]:focus + label::before {
  width: 17px;
  height: 17px;
  top:13px;
  right: 232px;
  background-image: url("../img/search-red.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.header-bookmarks {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  width: 150px;
  font-size: 17px;
  line-height: 18px;
}

.header-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 117px;
  width: 17px;
  height: 17px;
  background-image: url("../img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.3;
}

.header-bookmarks:hover::before {
  opacity: 1;
}

.header-bookmarks:hover:active {
  opacity: 0.5;
}

.header-bookmarks:hover {
  background-color: #212a3a;
}

.header-bookmarks:focus,
.header-bookmarks:active {
  opacity: 0.6;
  background-color: #161d29;
}

.header-basket {
  position: relative;
  width: 150px;
  padding-left: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 18px;
}

.header-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 115px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.3;
}

.header-basket:hover::before {
  color: #fff;
  opacity: 1;
}

.header-basket:active::before {
  opacity: 0.5;
}

.header-basket:hover {
  background-color: #212a3a;
}

.header-basket:focus,
.header-basket:active {
  opacity: 0.6;
  background-color: #161d29;
}

.header-eservation {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
}

.header-eservation:hover {
  background-color: #5fbb2d;
}

.header-eservation:focus,
.header-eservation:active {
  opacity: 0.5;
  background-color: #518534;
}

.header-down {
  min-height: 252px;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px;
}

.title {
  width: 245px;
  margin-left: 163px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  background-color: #f3f7f8;
}

.title p {
  margin: 0;
  padding: 0;
}

.telephone {
  position: relative;
  margin-left: 22px;
  width: 270px;
}

.telephone::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 19px;
  height: 19px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.telephone p {
  padding: 9px 42px 9px 70px;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-color: #f3f7f8;
  border: 3px solid #fff;
}

.address {
  font-size: 14px;
  color: #32425c;
  background-color: #f3f7f8;
}

.address p {
  margin: 0;
  padding: 0;
  margin-left: 31px;
}

.user-block {
  margin-top: 33px;
  margin-left: 70px;
  font-size: 21px;
  line-height: 21px;
}

.user-block a {
  color: #000;
  background-color: #fff;
}

.user-block a:hover {
 color: #ee3643;
 background-color: #fff;
}

.user-block a:focus,
.user-block a:active {
  color: #000;
  opacity: 0.3;
  background-color: #fff;
}

.login {
  position: relative;
  padding-top: 10px;
  padding-left: 47px;
  padding-right: 27px;
  padding-bottom: 10px;
}

.login::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 87px;
  width: 20px;
  height: 17px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.login:active::before {
  opacity: 0.3;
}

.registration {
  padding-top: 10px;
  padding-left: 26px;
  padding-right: 22px;
  padding-bottom: 10px;
  margin-left: 3px;
}

.inner-page .user-block {
  height: 44px;
  margin-top: 22px;
  margin-left: 52px;
  font-size: 21px;
  line-height: 21px;
  background-color: #fff;
}

.header-block-element a {
  display: inline-block;
  margin-left: 16px;
  color: #32425c;
  background-color: #f2f6f8;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 2px solid #32425c;
}

.header-block-element a:hover {
  color: #ee3463;
  background-color: #f2f6f8;
  border-bottom: 2px solid;
}

.header-block-element a:active {
  color: #32425c;
  background-color: #f2f6f8;
  border-bottom: 2px solid;
  opacity: 0.3;
}

.user-block-element-order {
  margin-right: 12px;
}

.header-block-element {
  position: relative;
}

.header-block-element::before {
  position: absolute;
  top: 10px;
  left: 106px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  content: "";
    opacity: 1;
}

.inner-page .header-user-block {
  position: relative;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 45px;
  padding-right: 67px;
  margin-bottom: 5px;
  color: #000;
  text-decoration: none;
  background-color: #fff
}

.inner-page .header-user-block:hover {
  color: #000;
  background-color: #fff;
}

.inner-page .header-user-block:active {
  color: #000;
  background-color: #fff;
  z-index: 4;
}

.inner-page .header-user-block::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.inner-page .header-user-block:hover::before {
  opacity: 1;
}

.inner-page .header-user-block:active::before {
  opacity: 1;
}

.inner-page .header-user-block::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 9px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.inner-page .header-user-block:hover::after {
  opacity: 1;
}

.inner-page .header-user-block:active::after {
  opacity: 0.3;
}

.site-navigation {
  width: 940px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 17px;
  line-height: 17px;
  padding-top: 18px;
  background-color: #32425c;
  list-style: none;
  margin-left: 110px;
}

.site-navigation a {
  padding-left: 31px;
  padding-right: 31px;
  padding-top: 15px;
  padding-bottom: 22px;
  color: #fff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus,
.site-navigation a:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.marketing {
  height: 410px;
  margin-bottom: 54px;
}

.marketing-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 110px;
  list-style: none;
}

.marketing-item-yellow {
  width: 300px;
  height: 125px;
  position: relative;
  background-color: #ffbf47;
}

.marketing-item-yellow::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/pail.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-item-yellow::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-item-yellow h3 {
  margin-left: 22px;
}

.marketing-button-yellow {
  margin-left: 25px;
}

.marketing-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
}

.marketing-item-blue {
  width: 300px;
  height: 125px;
  position: relative;
  background-color: #3bbce3;
}

.marketing-item-blue::before {
  content: "";
  position: absolute;
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
  background-image: url("../img/drill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-item-blue h3 {
  margin-left: 22px;
}

.marketing-button-blue {
  margin-left: 26px;
}

.marketing-item-purple {
  width: 300px;
  height: 125px;
  position: relative;
  background-color: #dc91d8;
}

.marketing-item-purple h3 {
  margin-left: 23px;
}

.marketing-item-purple::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 190px;
  width: 78px;
  height: 62px;
  background-image: url("../img/truck.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-button-purple {
  margin-left: 22px;
}

.slider {
  position: relative;
  display: inline-block;
  width: 620px;
  height: 266px;
  padding-right: 20px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  z-index: 60;
  bottom: 14%;
  left: 45%;
  width: 60px;
  height: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  vertical-align: top;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for=btn-1],
#btn-2:checked~.slider-controls label[for=btn-2] {
  background-color: #ee3643;
}

.slider .arrow-left::before {
  content: "";
  position: absolute;
  z-index: 20;
  left: 22px;
  top: 123px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 28px;
  height: 4px;
  background: #ffffff;
  cursor: pointer;
}

.slider .arrow-left::after {
  left: 22px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider .arrow-left::after,
.slider .arrow-right::after,
.slider .arrow-right::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 140px;
  display: block;
  width: 28px;
  height: 4px;
  background: #fff;
  cursor: pointer;
}

.slider .arrow-right::after,
.slider .arrow-right::before {
  right: 37px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider .arrow-right::after {
  top: 123px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#btn-1:checked~.slides .slide:nth-child(1),
#btn-2:checked~.slides .slide:nth-child(2) {
  display: block;
}

.slide {
  display: none;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  margin-left: 24px;
  padding-top: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #fff;
  background: 0 0;
}

.slide-title {
  margin-bottom: 4px;
  background: 0 0;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}

.slide:nth-child(1) {
  background-image: url("../img/slider2.png");
  background-repeat: no-repeat;
}

.slide .btn {
  display: block;
  width: 195px;
  padding: 10px 0;
  margin-top: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background: #ee3643;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
}

.slide .btn:hover {
  background-color: #ca2c37;
}

.slide .btn:active {
  background-color: #ba2732;
}

.slide:nth-child(2) {
  width: 620px;
  background-image: url("../img/bosch-top-img.png");
}

.marketing-item-green {
  width: 300px;
  height: 125px;
  position: relative;
  background-color: #8ed78f;
}

.marketing-item-green::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 195px;
  width: 59px;
  height: 72px;
  background-image: url("../img/discount.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-item-green h3 {
  margin-left: 23px;
}

.marketing-button-green {
  margin-left: 23px;
}

.marketing-item-orange {
  width: 300px;
  height: 125px;
  position: relative;
  background-color: #ffc047;
  left: 640px;
  bottom: 123px;
}

.marketing-item-orange h3 {
  margin-left: 23px;
}

.marketing-button-orange {
  margin-left: 23px;
}

.marketing-item-orange::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 192px;
  width: 78px;
  height: 63px;
  background-image: url("../img/transfer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.marketing-item {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 18px;
}

.marketing-button {
  font: inherit;
  display: block;
  width: 135px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0,0,0,.1);
}

.marketing-button:hover {
  background-color: rgba(0,0,0,.2);
}

.marketing-button:focus,
.marketing-button:active {
  background-color: rgba(0,0,0,.3);
}

.popular-product {
  margin-bottom: 20px;
}

.popular-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  min-height: 87px;
  margin-left: 109px;
  background-color: #f9f5f0;
}

.button-product {
  display: block;
  width: 250px;
  padding-top: 11px;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 22px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.button-product:hover {
  background-color: #ca2c37;
}

.button-product:active {
  background-color: #ba2732;
}

.popular-product h2 {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-left: 27px;
  font-size: 29px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-product button {
  position: relative;
  display: block;
  width: 122px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 42px;
  margin-top: 5px;
  padding-left: 13px;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.popular-product button::after {
  content: "";
  position: absolute;
  top: 0;
  right: -37px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-product-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 965px;
  margin: 0;
  padding: 0;
  margin-left: 90px;
  margin-top: 22px;
  list-style: none;
}

.popular-product-item {
  position: relative;
  width: 218px;
  height: 315px;
  margin-left: 20px;
  border: 1px solid #eaeaea;
}

.popular-product-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid transparent;
}

.popular-product-item:hover .modal-block {
  display: block;
}

.modal-basket {
  position: fixed;
  top: 140px;
  left: 456px;
  display: none;
  width: 620px;
  height: 275px;
  z-index: 95;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-top: 7px solid #ee3643;
}

.modal-basket p {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  margin-left: 163px;
  font-size: 30px;
  line-height: 30px
}

.modal-basket-product {
  position: relative;
  margin-bottom: 69px;
}

.modal-basket-product::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url("../img/green.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-basket-close {
  position: relative;
  padding: 0;
  border: 0;
}

.modal-basket-close::after,
.modal-basket-close::before {
  content: '';
  position: absolute;
  top: -76px;
  left: 588px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 20px;
  height: 5px;
  background: #ee3643;
  border: none;
  cursor: pointer;
}

.modal-basket-close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product-button {
  padding-top: 37px;
  height: 78px;
  background-color: #f1f1f1;
}

.product-button .active-button {
  display: inline-block;
  padding: 12px 62px 9px 59px;
  vertical-align: top;
  margin-right: 17px;
  margin-left: 80px;
  border-style: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ee3643;
}

.product-button .active-button:hover {
  background-color: #ca2c37;
}

.product-button .active-button:active {
  background-color: #ba2732;
}

.product-button .resume {
  display: inline-block;
  padding: 12px 45px 9px 45px;
  vertical-align: top;
  margin-right: 20px;
  border-style: none;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}

.product-button .resume:hover {
  color: #ee3643;
}

.bosch-9000 {
  width: 172px;
  height: 160px;
  padding-top: 5px;
  padding-left: 26px;
  margin-bottom: 5px;
}

.bosch-3000 {
  width: 142px;
  height: 111px;
  padding-top: 28px;
  padding-left: 26px;
  margin-bottom: 33px;
}

.bosch-6000 {
  width: 142px;
  height: 111px;
  padding-top: 28px;
  padding-left: 26px;
  margin-bottom: 32px;
}

.bosch-2000 {
  width: 136px;
  height: 111px;
  padding-top: 28px;
  padding-left: 26px;
  margin-bottom: 32px;
}

.popular-product-item-new {
  position: relative;
}

.popular-product-item-new .modal-block::before,
.popular-product-item-new::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-product-item .model {
  margin-bottom: 37px;
}

.popular-product-bosch {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}

.popular-product-model {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}

.popular-product-list .price {
  padding-left: 80px;
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.modal-block {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 218px;
  height: 124px;
  padding-top: 45px;
  background-color: #fff;
}

.modal-block-buy {
  position: relative;
  display: block;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto 7px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #63a63e;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
          box-shadow: inset 0 -3px 0 0 #367315;
  text-decoration: none;
}

.modal-block-buy:hover {
  background-color: #5fbb2d;
}

.modal-block-buy:active {
  background-color: #518534;
}

.modal-block-buy::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-block-buy:hover::before {
  opacity: 1;
}

.modal-block-buy:active::before {
  opacity: 1;
}

.modal-block-marker {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 129px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #32425c;
  border-radius: 5px;
  border: 3px solid #63a63e;
}

.modal-block-marker:hover {
  border-color: #32425c;
}

.modal-block-marker:active {
  border-color: #c1c6ce;
}

.popular-manufacturer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 940px;
  min-height: 90px;
  margin-left: 110px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-manufacturer h2 {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 24px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.button-manufacturer {
  display: block;
  width: 245px;
  padding-top: 11px;
  margin-top: 25px;
  margin-bottom: 27px;
  margin-right: 25px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
  outline: none;
}

.button-manufacturer:hover {
  background-color: #ca2c37;
}

.button-manufacturer:focus,
.button-manufacturer:active {
  background-color: #ba2732;
}

.popular-manufacturer {
  margin-bottom: 65px;
}

.popular-manufacturer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
  list-style: none;
}

.popular-manufacturer-item {
  width: 220px;
  min-height: 145px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eaeaea;
}

.popular-manufacturer-item-bosch {
  padding-top: 52px;
}

.popular-manufacturer-item-makita {
  padding-top: 49px;
}

.popular-manufacturer-item-dewalt {
  padding-top: 47px;
}

.popular-manufacturer-item-interskol {
  padding-top: 20px;
}

.popular-manufacturer-item-hitachi {
  padding-top: 57px;
  padding-left: 5px;
}

.popular-manufacturer-item-lg {
  padding-top: 33px;
}

.popular-manufacturer-item-aeg {
  padding-top: 22px;
}

.popular-manufacturer-item-metabo {
  padding-top: 32px;
  padding-left: 5px;
}

.popular-manufacturer-item:hover {
  width: 220px;
  min-height: 145px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 1)
}

.popular-manufacturer-item:focus,
.popular-manufacturer-item:active {
  width: 220px;
  min-height: 145px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.service {
  width: 100%;
  min-height: 524px;
  margin-bottom: 76px;
  background-color: #f4f7f9;
}

.service h2 {
  padding: 0;
  margin: 0;
  padding-top: 65px;
  padding-left: 107px;
  padding-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  background-color: #f4f7f9;
}

.service-text {
  width: 370px;
  margin: 0;
  padding: 0;
  padding-left: 110px;
}

.service-book {
  width: 370px;
  margin: 0;
  padding: 0;
  padding-left: 110px;
}

.service-center {
  position: relative;
  display: inline-block;
}

.service-center::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 341px;
  width: 10px;
  height: 272px;
  background-image: url("../img/band.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 4
}

.service-center input[type=radio] {
  position: absolute;
  opacity: 0;
}

.service-toggle {
  position: absolute;
  top: 54px;
  left: 111px;
  width: 60px;
  height: 10px;
  z-index: 3;
}

.service-toggle label {
  display: block;
  width: 218px;
  padding: 13px 0 16px 22px;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  outline: none;
  cursor: pointer;
}

#button-1:checked~.service-toggle label[for=button-1],
#button-2:checked~.service-toggle label[for=button-2],
#button-3:checked~.service-toggle label[for=button-3] {
  color: #32425c;
  background-color: #fff;
  border-top: 1px solid #fff;
  outline: none;
}

.service-toggle label:hover {
  background-color: #293449;
}

.service-touch-button {
  display: none;
  margin-left: 412px;
  padding-bottom: 124px;
}

#button-1:checked~.service-block-right .delivery,
#button-2:checked~.service-block-right .guarantee,
#button-3:checked~.service-block-right .credit {
  display: block
}

.service-touch-button span {
  display: block;
  padding-top: 52px;
  padding-left: 19px;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.delivery p {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 19px;
}

.delivery {
  content: "";
  position: absolute;
  width: 637px;
  height: 261px;
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: 100% 62%;
}

.guarantee span {
  padding-top: 53px;
  margin-bottom: 24px;
}

.guarantee p {
  width: 376px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.guarantee {
  content: "";
  position: absolute;
  width: 637px;
  height: 261px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 104% 54%;
}

.credit span {
  padding-top: 53px;
  margin-bottom: 24px;
}

.credit p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.credit .btn {
  width: 107px;
  display: block;
  margin: 30px 0 0 18px;
  padding: 10px 44px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #ee3643;
  border-radius: 5px;
  outline: none;
}

.credit .btn:hover {
  background-color: #ca2c37;
}

.credit .btn:active {
  background-color: #ba2732;
}

.credit {
  content: "";
  position: absolute;
  width: 662px;
  height: 271px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 93% 51%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 87px;
}

.info-left {
  margin-left: 109px;
  margin-right: 110px;
}

.info-left h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  font-size: 29px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.info-left-text {
  width: 530px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-left: 2px;
}

.info-left-book {
  width: 390px;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  padding-bottom: 21px;
}

.info-list {
  margin: 0;
  padding: 0;
  margin-left: 38px;
  padding-bottom: 16px;
}

.info-item {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  list-style: none;
}

.info-item::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-image: url("../img/stripe.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.info-left a {
  width: 220px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 24px;
  background-color: #ee3643;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.info-left a:hover {
  background-color: #ca2c37;
}

.info-left a:focus,
.info-left a:active {
  background-color: #ba2732;
}

.info-right h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  font-size: 29px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.info-right p {
  width: 185px;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.js-feedback {
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 32px;
  text-align: center;
  margin-right: 24px;
  background-color: #ee3643;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.js-feedback:hover {
  background-color: #ca2c37;
}

.js-feedback:active {
  background-color: #ba2732;
}

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 294px;
  margin: 0;
  padding: 0;
  margin-left: 165px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-bottom: 17px;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -29px;
  width: 8px;
  height: 12px;
  background-image: url("../img/right-small.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -57px;
  width: 15px;
  height: 12px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.page-title {
  display: inline-block;
  padding-top: 10px;
  padding-left: 27px;
  font-size: 29px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.page-title-wrapper {
  width: 940px;
  min-height: 90px;
  margin-left: 110px;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

.filters {
  margin-right: 39px;
}

.filter {
  width: 220px;
  margin-right: 90px;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-text {
  padding-top: 10px;
}

.filter-wrapper {
  width: 220px;
  height: 36px;
  margin-left: 110px;
  margin-right: 20px;
  margin-bottom: 14px;
  background-color: #f7f3ec;
}

.filter-wrapper p {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  background-color: #f7f3ec;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 14px;
}

.range-controls {
  position: relative;
  width: 180px;
  min-height: 41px;
  margin-left: 108px;
  margin-bottom: 9px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 90%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 22px;
}

.range-controls .toggle-max {
  left: 162px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-bottom: 46px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.price-controls .min-price {
  margin-left: 100px;
  margin-right: 20px;
}

.price-controls .max-price {
  text-align: right;
}

.filter-price {
  margin-left: 108px;
  color: #000;
  background-color: #fff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.fabricator {
  width: 220px;
  margin-left: 97px;
}

.vendor {
  margin-bottom: 8px;
}

.filter ul {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 13px;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -33px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-option {
  padding-bottom: 20px;
}

.board {
  margin-left: 98px;
}

.power {
  margin-bottom: 9px;
}

.filter-option {
  position: relative;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio + label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter button {
  width: 140px;
  padding: 10px 44px 10px;
  margin-top: 36px;
  margin-left: 110px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  outline: none;
  cursor: pointer;

  line-height: 18px;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.filter button:hover {
border-color: #bdc6ca;
}

.filter button:active {
border-color: #ee3643;
}


.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 36px;
  background-color: #f7f3ec;
}

.sort {
  padding-top: 10px;
  padding-left: 17px;
  margin-right: 122px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 700;
}

.sorting-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 19px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #f7f3ec;
  list-style: none;
}

.sorting-up-active {
  position: relative;
}

.sorting-up-active::before {
  content: "";
  position: absolute;
  top: 3px;
  right: -23px;
  width: 11px;
  height: 10px;
  background-image: url("../img/up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-up-active:hover::before {
  content: "";
  position: absolute;
  top: 3px;
  right: -23px;
  width: 11px;
  height: 10px;
  background-image: url("../img/up-black.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.sorting-down {
  position: relative;
}

.sorting-down::before {
 content: "";
 position: absolute;
 top: 3px;
 right: 13px;
 width: 11px;
 height: 10px;
 background-image: url("../img/down-dir.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
 opacity: 0.4;
}

.sorting-down:active::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 13px;
  width: 11px;
  height: 10px;
  background-image: url("../img/down-red.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.sorting-down:hover::before {
  opacity: 1;
}

.sorting-list .active-list {
  color: #ee3643;
  border-bottom: none;
}

.sorting-list .active-list:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting-list a {
  text-decoration: none;
  color: #c4c1bb;
  border-bottom: 1px dashed #ee3643;
}

.sorting-list a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting-list a:active {
  color: #ee3643;
  border: none;
}

.filter-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 32px;
  list-style: none;
}

.catalog-list .price {
  padding-left: 80px;
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-list button {
  position: relative;
  display: block;
  width: 122px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 45px;
  margin-top: 5px;
  padding-left: 13px;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
    background-color: #ee3643;
  border-radius: 3px;
  outline: none
}

.catalog-list button::after {
  content: "";
  position: absolute;
  top: 0;
  right: -37px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643
}

.catalog-item {
  position: relative;
  width: 218px;
  min-height: 316px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  border: 1px solid transparent;
}

.catalog-item:hover .modal-block {
  display: block;
}

.catalog-product-bosch {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  font-weight: 700;
}

.catalog-item .product-bosch {
  margin-bottom: 40px;
}

.catalog-product-model {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  font-weight: 700
}

.catalog-item-new .modal-block::before,
.catalog-item-new::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 350px;
  margin-bottom: 59px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 7px 16px;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.pagination-item-next {
width: 140px;
text-align: center;
padding-right: 10px;
text-transform: uppercase;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
  border: 1px solid #ee3744;
}

.pagination-item-current a {
  color: #fff;
  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #fff;
  background-color: #ee3643;
}

.perforator {
  width: 100%;
  height: 260px;
  background-color: #f2f6f8;
}

.perforator h2 {
  padding-top: 64px;
  margin-left: 109px;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.perforator p {
  width: 940px;
  margin: 0;
  padding: 0;
  margin-left: 111px;
}

.main-footer {
  padding: 0;
  margin: 0;
  background-color: #32425c;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px;
}

.footer-logo a {
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 37px;
  padding-right: 37px;
  margin-left: 111px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ee3643;
  -webkit-box-shadow: #ca2c37 0 5px 0 0;
          box-shadow: #ca2c37 0 5px 0 0;
}

.footer-logo a:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: #9a212a 0 5px 0 0;
          box-shadow: #9a212a 0 5px 0 0;
}

.footer-logo a:focus,
.footer-logo a:active {
  background-color: #ba2732;
  -webkit-box-shadow: #8e1e26 0 5px 0 0;
          box-shadow: #8e1e26 0 5px 0 0;
}

.footer-top-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top-up-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 547px;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 37px;
  margin-left: 174px;
}

.footer-top-up-list a {
  font-size: 18px;
  color: #fff;
  background-color: #32425c;
}

.footer-top-up-list a:hover {
  text-decoration: underline;
}

.footer-top-up-list a:focus,
.footer-top-up-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-top-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.footer-top-down-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  margin: 0;
  padding: 0;
  margin-left: 112px;
  font-size: 18px;
  color: #fff;
  background-color: #32425c;
}

.footer-top-down-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 526px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  font-size: 18px;
  list-style: none;
}

.footer-top-down-list a {
  color: #ffd180;
  background-color: #32425c;
}

.footer-top-down-list a:hover {
  text-decoration: underline;
}

.footer-top-down-list a:focus,
.footer-top-down-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-bottom-copyright p {
  margin: 0;
  padding: 0;
  margin-left: 112px;
  padding-top: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}

.footer-social {
  display: block;
  width: 145px;
  padding-top: 33px;
  margin-left: 151px;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 145px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-copyright-left {
  width: 140px;
  margin-left: 113px;
  padding-top: 36px;
}

.footer-copyright-left p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}

.footer-copyright-left a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  background-color: #293449;
}

.footer-copyright-left a:hover {
  text-decoration: underline;
}

.footer-copyright-left a:focus,
.footer-copyright-left a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-copyright-right {
  width: 140px;
  margin-left: 48px;
  padding-top: 36px;
}

.footer-copyright-right p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
}

.footer-copyright-right a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
  background-color: #293449;
}

.footer-copyright-right a:hover {
  text-decoration: underline;
}

.footer-copyright-right a:focus,
.footer-copyright-right a:active {
  text-decoration: none;
  color: #ee3643;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  color: #000;
  background-color: #fff;
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-map {
  position: fixed;
  z-index: 100;
  right: 270px;
  top: 40px;
  border: none;
  -webkit-box-shadow: 0 30px 50px rgba(0,0,0,.7);
          box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

.modal-login {
  z-index: 10;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -311px;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-top: 7px solid #ee3643;
}

.modal-close {
  position: absolute;
  top: 7px;;
  right: 9px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 1px;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-description {
  margin: 0;
  padding: 0;
  margin-top: 46px;
  margin-left: 81px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.modal-description label {
  margin-right: 154px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-form p {
  margin: 0;
  margin-bottom: 17px;
}

.login-form .login-item-description {
  margin-bottom: 21px;
  margin-left: 80px;
}

.login-form input[type="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding: 8px 13px;
  margin-right: 20px;
  font: inherit;
  line-height: 18px;
  color: #a9a9a9;
  background-color: #fff;
  border: 2px solid #d7dcde;
}

.login-form input[type="text"]:hover {
  border: 2px solid #bdc6ca;
  outline: 0;
}

.login-form input[type="text"]:active {
  border: 2px solid #ee3744;
  outline: 0;
}

.login-form .modal-description-two {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
    margin-left: 80px;
}

.login-form textarea {
  width: 442px;
  height: 101px;
  margin-bottom: 10px;
  margin-left: 80px;
  padding-top: 9px;
  padding-left: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #d7dcde;
}

.login-form textarea:hover {
  border: 2px solid #bdc6ca;
  outline: 0;
}

.login-form textarea:active {
  border: 2px solid #ee3744;
  outline: 0;
}

.button-login {
  width: 620px;
  min-height: 112px;
  background-color: #f4f4f4;
}

.login-form button {
  display: block;
  width: 460px;
  padding: 10px 0;
  margin-left: 80px;
  margin-top: 37px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  border: none;
  outline: 0;
}

.login-form button:hover {
  background-color: #ca2c37;
}

.login-form button:active {
  background-color: #ba2732;
}
